:root {
  --color-bg: #ffffff;
  --color-main: #14ae5c;
  --color-main-hover: #00833d;
  --color-secondary: #AFAFAF;
  --color-variant: #FF4D4F;
  --color-variant-hover:#ca3133;
}

/* Navbar */
nav {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
}

#logo {
  height: 2.4em;
}

.btnDonasi,
.btnLogin {
  background-color: var(--color-main) !important;
  color: var(--color-bg) !important;
}
.dropdown-toggle:focus {
  background-color: transparent !important;
  border-color: transparent !important;
  outline: none !important;
}