.imgInfografisAdmin {
  width: 250px !important;
}

.btn-update:hover {
  background-color: #14ae5c !important;
}

.btn-delete:hover {
  background-color: #ff2d2d !important;
}

.paragraf {
  text-align: justify;
}
